<h1><%= @user[0].capitalize %></h1>

<h3>Email:</h3>
  <ul><li><%= @info[:email] %></li></ul>
<h3>Interests</h3>
    <p> <% @info[:interests].each do |int| %>
          <%= int %> 
        <% end %>
    </p>
    <p></p>
    <p> 
    <% @users.each do |usr| %>
          <% if @user[0].to_s != usr[0].to_s %>
            <a href="/user/<%= usr[0].to_s %>"><%= usr[0].to_s %></a>
          <% end %>
        <% end %>
    </p>
      


